
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
/* ===== @import font-family ====== */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    /* ======== colors ========== */
    --white: #ffffff;
    --black: #000000;
    --default-nav: #292929;
    --default-footer: #3E495A;
    --light-green: #03AD53;
    --fb-btn: #4869D4;
    --google-btn: #EB4132;
    --shade-black: #09184B;
    --blackish: #333D4E;
    /* ======== hover:colors ========== */
    --fb-btn-hover: #647ed2;
    --google-btn-hover: #ea6256;
    --green-btn-hover: #026933;
    /* ======== home-wine-colors ========== */
    --light-brown: #8D7B72;
    --dark-brown: #5D4E47;
    --text-color: #818199;
    --wine-primary-color: #E5C0AE;
    /* ======== home-meat-colors ========== */
    --meat-primary-color: #FF0000;
    /* ======== home-dairy-colors ========== */
    --dairy-primary-color: #3172EC;
    --dairy-secondary-color: #FFD203;
    /* ======== home-vegetable-colors ========== */
    --veg-primary-color: #FFBB12;
    --veg-secondary-color: #4B8904;
    --veg-btn: #486A1D;
    --veg_btn--hover: #62AF2F;
    /* ======== home-fertilizer-colors ========== */
    --fertilizer-primary-color: #BB5817;
    /* ======== home-fish-color ========== */
    --fish-primary-color: #004DD6;
    --fish-secondary-color: #FFC500;
    --fish-tertiary-color: #FF4F37;
    /* ======== home-nursery-color ========== */
    --nursery-primary-color: #6F9073;
    /* ======== home-grocery-color ========== */
    --grocery-primary-color: #FFA200;
    /* ===== font-family ====== */
    --mulish: "Mulish", sans-serif;
    --roboto: "Roboto", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    --playfair: 'Playfair Display', serif;
    --josefin: 'Josefin Sans', sans-serif;
    --frank-ruhl-libre: 'Frank Ruhl Libre', serif;
    --open-sans: 'Open Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --lato: 'Lato', sans-serif;
}


/* ===== image-fluid ====== */

img {
    max-width: 100%;
    height: auto;
}


/* -- common-css -- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: var(--josefin);
}
.testimonial_wrapper{
    background: #F0E7DE;

}
.fertilizer_page--wrapper {
  background: #F0E7DE;
  overflow: hidden;
}
.fertilizer_title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #14100E;
}
.fertilizer_sideimg--wrapper {
  display: none;
}
@media ( min-width: 576px ) {
  .fertilizer_sideimg--wrapper {
    position: absolute;
    top: 17rem;
    left: 0rem;
    width: 100px;
    display: block;
  }
}
@media ( min-width: 768px ) {
  .fertilizer_title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media ( min-width: 1680px ) {
  .fertilizer_sideimg--wrapper {
    width: auto;
  }
}

/* -- fertilizer-bannner -- */

.fertilizer_banner--wrapper {
  /* background: url('/images/fertilizer-banner-bg.png') no-repeat center; */
  background-size: cover;
  width: 100%;
  display: block;
  padding: 12.6875rem 0rem 0rem;
  position: relative;
  z-index: 998;
}
.fertilizer_banner--text .fertilizer_text {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 90%;
  text-transform: uppercase;
  color: #382E29;
  display: block;
}
.ferti_banner--cols:nth-child(1) .fertilizer_banner--text .fertilizer_text  {
  padding-top: 0;
}
.ferti_banner--cols:nth-child(2) .fertilizer_banner--text .fertilizer_text  {
  color: #271E17;
}
.banner_main--img {
  text-align: center;
}
.swiper-counter {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: var(--white);
  width: 109px;
  height: 63px;
  text-align: center;
  position: absolute;
  right: -1rem;
  bottom: 10rem;
  transform: rotate(-90deg);
  z-index: 999;
}
.swiper-counter .count {
  font-size: 68px;
  line-height: 68px;
}
.fertilizer_social--links {
  display: none;
}
.banner_arrow--wrapper {
  position: absolute;
  bottom: 100px;
  right: 0;
}
.banner_arrow--wrapper .swiper-button-next, 
.banner_arrow--wrapper .swiper-button-prev {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  background: #302926;
  transition: all ease 0.3s;
}
.banner_arrow--wrapper .swiper-button-next:hover, 
.banner_arrow--wrapper .swiper-button-prev:hover {
  background: var(--fertilizer-primary-color);
}
.banner_arrow--wrapper .swiper-button-prev {
  left: auto;
  right: 10px;
  margin-top: 22px;
}
.banner_arrow--wrapper .swiper-button-next:after, 
.banner_arrow--wrapper .swiper-button-prev:after {
  font-size: 20px;
  color: #fff;
}
@media ( min-width: 449px ) {
  .fertilizer_banner--text .fertilizer_text {
    font-size: 100px;
  }
  .banner_arrow--wrapper {
    bottom: auto;
    top: 150px;
  }
}
@media ( min-width: 576px ) {
  .fertilizer_swiper--slide {
    padding: 10rem 0rem;
  }
  .banner_main--img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -6.25rem;
  }
}
@media ( min-width: 768px ) {
  .fertilizer_swiper--slide {
    padding-top: 15rem;
  }
  .fertilizer_banner--text .fertilizer_text {
    font-size: 160px;
  }
}
@media ( min-width: 992px ) {
  .fertilizer_banner--wrapper {
    height: 824px;
    padding-top: 200px;
  }
  .fertilizer_banner--text .fertilizer_text {
    font-size: 224px;
  }
  .ferti_banner--cols:nth-child(1) .fertilizer_banner--text .fertilizer_text {
    padding-top: 4.375rem;
  }
  .fertilizer_swiper--slide {
    padding-top: 0rem;
    padding-bottom: 10rem;
    height: 850px;
  }
  .banner_main--img {
    bottom: -26.25rem;
  }
  .swiper-counter {
    bottom: 42rem;
  }
  .banner_arrow--wrapper {
    top: 250px;
  }
}
@media ( min-width: 1200px ) {
  .ferti_banner--cols:first-child {
    padding-left: 6.3125rem;
  }
  .ferti_banner--cols:nth-child(2) {
    padding-right: 10.625rem;
  }
  .fertilizer_social--links {
    display: flex;
    align-items: center;
    position: absolute;
    top: 26rem;
    left: -10.5rem;
    transform: rotate(-90deg);
    z-index: 1001;
  }
  .fertilizer_links {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: var(--white);
    display: block;
    margin: 0px 30px;
  }
  .fertilizer_links:first-child {
    margin-left: 0;
  }
  .fertilizer_links:last-child {
    margin-right: 0;
  }
  .fertilizer_links {
    transition: ease all 0.4s;
  }
  .fertilizer_links:hover {
    color: var(--fertilizer-primary-color);
    
  }
}
@media ( min-width: 1880px ) {
  .ferti_banner--cols:first-child {
    padding-left: 11.3125rem;
  }
  .ferti_banner--cols:last-child {
    padding-right: 10.625rem;
  }
}

/* -- fertilizer-type -- */

.fertilizer_type--wrapper {
  position: relative;
  padding-top: 5.5rem;
  padding-bottom: 3.5rem;
}
.type_sideeffect1--wrapper {
  position: absolute;
  top: -7rem;
  left: 0rem;
  z-index: 0;
}
.type_sideeffect2--wrapper {
  position: absolute;
  bottom: -5rem;
  left: 0rem;
  z-index: 0;
}
.fertilizer_type--wrapper .fertilizer_sideimg--wrapper {
  top: auto;
  left: auto;
  right: 0rem;
  bottom: -2rem;
}
.fertilizer_type--wrapper .fertilizer_title {
  position: relative;
  z-index: 1;
  color: var(--black);
}
.type_of_fertilizer--wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4.9375rem;
}
.fertilizer_type--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.fertilizer_img--wrapper {
  position: relative;
  text-align: center;
  max-width: 300px;
  width: 100%;
}
.fertilizer_name--ecllipse {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
  position: absolute;
}
.fertilizer_type--details {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 154%;
  text-align: center;
  color: var(--black);
  display: block;
}
.fertilizer_type--details-tab {
  display: none;
}
.fertilizer_type--details-mobile {
  display: block;
 padding: 20px 0px 20px 0px;
}
.fertilizer_img--wrapper .fertilizer--image img {
  transition: ease all 0.9s;
}

.fertilizer_img--wrapper .fertilizer--image:hover img {
  transform: scale(1.2);
}
.fertilizer_type--item:nth-child(1) .fertilizer_name--ecllipse {
  width: 134px;
  height: 134px;
  background: #BB5817;
  filter: drop-shadow(0px 25px 46px rgba(0, 0, 0, 0.45));
  top: -25px;
  left: 0px;
}
.fertilizer_type--item:nth-child(2) .fertilizer_name--ecllipse {
  width: 154px;
  height: 154px;
  background: #66714D;
  box-shadow: 0px 29px 46px rgba(0, 0, 0, 0.34);
  bottom: 10px;
  left: 0px;
}
.fertilizer_type--item:nth-child(3) .fertilizer_name--ecllipse {
  width: 168px;
  height: 168px;
  background: #2A5A23;
  filter: drop-shadow(0px 24px 44px rgba(0, 0, 0, 0.35));
  top: -25px;
  right: 0px;
}
.fertilizer_type--item:nth-child(4) .fertilizer_name--ecllipse {
  width: 134px;
  height: 134px;
  background: #130A0A;
  filter: drop-shadow(0px 24px 39px rgba(0, 0, 0, 0.35));
  bottom: 25px;
  right: 0px;
}
.fertilizer_type--item:nth-child(5) .fertilizer_name--ecllipse {
  width: 134px;
  height: 134px;
  background: #5C9286;
  filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.25));
  top: -25px;
  left: 10px;
}
@media ( min-width: 992px ) {
  .type_of_fertilizer--wrapper {
    justify-content: space-between;
  }
  .fertilizer_type--wrapper {
    padding-top: 12.5rem;
  }
  .fertilizer--image-organic img {
    margin-top: -40px;
  }
  .fertilizer_type--details-organic {
    padding: 5px 0px 10px 0px;
  }
}
@media ( min-width: 1200px ) {
  .type_of_fertilizer--wrapper {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .fertilizer--image-organic img {
    margin-top: 0px;
  }
  .fertilizer_type--details-organic {
    padding: 20px 0px 20px 0px;
  }
  .fertilizer_type--details-tab {
    display: block;
  }
  .fertilizer_type--details-mobile {
    display: none;
  }
  .fertilizer_type--item {
    max-width: 345px;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 0px;
    position: relative;
  }
  .fertilizer_type--item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 962px;
    background: #BBBBBB;
    bottom: -10rem;
    right: 0rem;
  }
  .fertilizer_type--item:last-child::after {
    display: none;
  }
}
@media ( min-width: 1680px ) {
  .fertilizer_type--item {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* -- fertilizers-counters -- */

.fertilizers_counter--wrapper {
  /* background: url('/images/fertilizers-counter.png') no-repeat center; */
  background-size: cover;
  width: 100%;
  display: block;
  z-index: 2;
  position: relative;
  padding: 11.9375rem 0rem 10.1875rem;
}
.fertilizer_counter--list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.fertilizers_counter--items {
  text-align: center;
  margin: 0rem 1rem 1.25rem;
}
.fertilizers_counter--items img {
  width: 60px;
}
.fertilizers_counter--items .spinning_data {
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 104%;
  color: var(--white);
  display: block;
  padding: 14px 0px 1px;
}
.fertilizers_counter--items .data_info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 104%;
  color: var(--white);
}
@media ( min-width: 480px ) {
  .fertilizers_counter--items {
    margin: 0rem 3rem 1.25rem;
  }
}
@media ( min-width: 768px ) {
  .fertilizers_counter--items {
    margin: 0rem 0rem 1.25rem;
  }
  .fertilizer_counter--list {
    justify-content: space-between;
  }
}
@media ( min-width: 992px ) {
  .fertilizers_counter--items img {
    width: auto;
  }
}

/* -- shop -- */

.shop_wrapper {
  position: relative;
  z-index: 0;
  padding: 14rem 0rem 3rem;
}
.shop_wrapper .tab-content {
  position: relative;
  z-index: 1;
}
.shop_plant--sideimg {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 200px;
}
.shop_up--effect {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 150px;
}
.shop_down--effect {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  width: 100px;
  z-index: 0;
}
.shop_title--wrapper .fertilizer_title {
  color: #2F2520;
}
.shop_title--wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: var(--black);
  text-align: center;
  padding: 1.5625rem 0rem;
}
.shop_tab .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}
.shop_tab {
  justify-content: center;
}
.shop_tab .nav-link.active {
  color: var(--black);
}
.shop_tab .nav-link.active::before {
  content: '';
  position: absolute;
  /* background: url('/images/shop-tab-line.png') no-repeat center; */
  background-size: cover;
  width: 242px;
  height: 7px;
  bottom: 0;
  left: 0;
  right: 0;
}
.row_shop {
  padding-top: 2rem;
}
.shop_product--wrapper {
  text-align: center;
  background: #F7F1ED;
  margin-bottom: 2.375rem;
  padding: 2.75rem 1rem 1.75rem;
}

.product_title--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_title--wrapper .product_title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 224%;
  color: var(--black);
  display: block;
}
.product_title--wrapper .product_price {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 224%;
  color: var(--black);
  display: block;
}
.shop_product--wrapper .shop__product--image img {
  transition: ease all 0.9s;
  cursor: pointer;
}
.shop_product--wrapper:hover .shop__product--image img {
  transform: scale(1.1);
}
.shop_product--wrapper .product_title--wrapper {
  padding-bottom: 15px;
}
.shop_product1--wrapper .product_title--wrapper {
  padding-bottom: 6px;
}
.shop_product1--wrapper .product_title {
  font-size: 20px;
}
.shop_product1--wrapper .product_price {
  font-size: 29px;
}
.product_order--wrapper {
  display: flex;
  justify-content: center;
}
.product_cart--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 290px;
  width: 100%;
}
.cart_btn {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 224%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 8px 5px;
  max-width: 140px;
  width: 100%;
  border-radius: 100px;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}
.cart_btn img {
  margin-right: 9px;
}
.cart_btn1 {
  background: #302926;
}
.cart_btn2 {
  background: var(--fertilizer-primary-color);
}
.cart_btn:hover {
  color: var(--white);
  background: var(--black);
}
@media ( min-width: 992px ) {
  .shop_tab {
    flex-direction: column;
  }
  .product_title--wrapper .product_title {
    font-size: 20px;
  }
  .product_title--wrapper .product_price {
    font-size: 29px;
  }
  .shop_product1--wrapper .product_title {
    font-size: 28px;
  }
  .shop_product1--wrapper .product_price {
    font-size: 40px;
  }
  .cart_btn {
    padding: 15px 5px;
  }
  .shop_product1--wrapper {
    padding: 3.8125rem 2.5rem 6.6875rem;
  }
  .shop_title--wrapper .fertilizer_title,
  .shop_title--wrapper p {
    text-align: left;
    padding-left: 15px;
  }
  .shop_tab .nav-link {
    padding: 0px 0px 15px 15px;
    margin-bottom: 2.5rem;
  }
  .row_shop {
    padding-top: 0rem;
  }
}
@media ( min-width: 1200px ) {
  .shop_plant--sideimg,
  .shop_up--effect,
  .shop_down--effect {
    width: auto;
  }
  .shop_product1--wrapper {
    padding: 3.8125rem 1rem 6.6875rem;
  }
  .shop_wrapper {
    padding: 4rem 0rem 3rem;
  }
  .shop_wrapper .row {
    align-items: center;
  }
  .shop_product1--wrapper {
    height: 613px;
  }
  .shop_cols:last-child .shop_product--wrapper > img {
    height: 256px;
  }
  .shop_cols .shop_product--wrapper {
    position: relative;
  }
  .shop_cols .shop_product--wrapper::before,
  .shop_cols .shop_product--wrapper::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1120px;
    background: #BBBBBB;
    top: -4.3rem;
  }
  .shop_cols .shop_product--wrapper::before {
    left: 0rem;
  }
  .shop_cols .shop_product--wrapper::after {
    right: 0rem;
  }
  .shop_cols .shop_product1--wrapper::before,
  .shop_cols .shop_product1--wrapper::after {
    top: -14.5rem;
  }
}
@media ( min-width: 1200px ) and ( max-width: 1536px ) {
  .shop_product1--wrapper .product_title {
    font-size: 22px;
  }
  .shop_product1--wrapper .product_price {
    font-size: 32px;
  }
  .cart_btn {
    max-width: 120px;
    padding: 8px 3px;
  }
}
@media ( min-width: 1680px ) {
  .shop_product--wrapper {
    padding: 2.75rem 2.0625rem 1.75rem;
  }
  .shop_product1--wrapper {
    padding: 3.8125rem 2.0625rem 6.6875rem;
  }
  .shop_cols .shop_product1--wrapper::before, .shop_cols .shop_product1--wrapper::after {
    height: 1170px;
    top: -16.5rem;
  }
}
@media ( min-width: 1880px ) {
  .shop_title--wrapper p{
    padding-right: 8rem;
  }
  .shop_tab .nav-link {
    margin-bottom: 3.5rem;
  }
  .shop_plant--sideimg {
    top: 5rem;
  }
  .fertilizer_sideimg--wrapper {
    top: 22.5rem;
  }
}

/* -- about-fertilizer -- */

.about_fertilizer--wrapper {
  /* background: url('/images/fertilizer-bg.png') no-repeat center; */
  background-size: cover;
  width: 100%;
  display: block;
  z-index: 2;
  position: relative;
  padding: 6.375rem 0rem 7.9375rem;
  z-index: 10;
}
.about_title {
  color: var(--white);
  padding-bottom: 1.875rem;
  text-align: left;
}
.about_fertilizer_inner--wrapper {
  margin-bottom: 1.875rem;
}
.about_fertilizer_inner--wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 138%;
  color: var(--white);
}
.about_fertilizer_inner--wrapper .blog_read--more {
  background: var(--white);
  color: var(--black);
  margin-top: 1.5rem;
}

.fertilizer_product--img {
  text-align: center;
}
.fertilizer_product--img img {
  width: 150px;
}
.fertlizer_clean--list {
  padding-bottom: 1.875rem;
}
.fertilizer_list--item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.fertilizer_list--item:last-child {
  margin-bottom: 0;
}
.fertilizer_item--details {
  padding-left: 0.8125rem;
}
.fertilizer_item--details .item_title {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 168%;
  color: #D0DABA;
}
.fertilizer_item--details p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 132%;
  color: var(--white);
}
.testimonial_wrapper .fertilizer_sideimg--wrapper {
  top: 0%;
  left: auto;
  right: 0rem;
}
.testimonial_sideeffect--wrapper {
  position: absolute;
  bottom: -11rem;
  left: 0;
  width: 200px;
  z-index: 0;
}
@media ( min-width: 768px ) {
  .about_fertilizer--wrapper {
    padding: 6.375rem 0rem 4.9375rem;
  }
}
@media ( min-width: 1200px ) {
  .testimonial_wrapper .container,
  .testimonial_right--col,
  .testimonial_details--wrapper {
    position: relative;
  }
  .testimonial_wrapper .container::before,
  .testimonial_right--col::before,
  .testimonial_details--wrapper::before,
  .testimonial_right--col::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1000px;
    background:  #BBBBBB;
    bottom: -2rem;
  }
  .testimonial_wrapper .container::before,
  .testimonial_right--col::before {
    left: 15px;
  }
  .testimonial_right--col::after {
    right: 15px;
  }
  .testimonial_details--wrapper::before {
    left: 18rem;
  }
  .about_fertilizer_inner--wrapper {
    margin-top: 1.875rem;
    margin-bottom: 0;
  }
  .fertilizer_product--wrapper {
    display: flex;
  }
  .fertilizer_product--img {
    position: relative;
    top: -8rem;
  }
  .fertilizer_product--img img {
    width: auto;
  }
  .fertlizer_clean--list {
    padding-bottom: 0;
  }
  .fertilizer_list--item {
    margin-bottom: 3.5rem;
  }
  .fertilizer_product--wrapper {
    width: 100%;
  }
  .fertilizer_product--img {
    width: 30%;
  }
  .fertlizer_clean--list {
    width: 70%;
  }
  .fertlizer_clean--list .fertilizer_list--item:nth-child(2) {
    position: relative;
    left: 5rem;
  }
  .fertlizer_clean--list .fertilizer_list--item:nth-child(3) {
    position: relative;
    left: 11.136875rem;
  }
  .fertilizer_item--details p {
    padding-right: 9rem;
  }
  .testimonial_sideeffect--wrapper {
    width: 250px;
  }
}
@media ( min-width: 1680px ) {
  .fertilizer_item--details p {
    padding-right: 12.5rem;
  }
  .testimonial_wrapper .container::before,
  .testimonial_right--col::before,
  .testimonial_details--wrapper::before,
  .testimonial_right--col::after {
    bottom: -10rem;
  }
  .testimonial_right--col::before {
    left: 4.4rem;
  }
  .testimonial_details--wrapper::before {
    left: 21.6rem;
  }
  .testimonial_right--col::after {
    right: 8.2rem;
  }
}
@media ( min-width: 1880px ) {
  .fertlizer_clean--list .fertilizer_list--item:nth-child(2) {
    left: 5rem;
  }
  .fertlizer_clean--list .fertilizer_list--item:nth-child(3) {
    left: 11.136875rem;
  }
}

/* -- testimonial -- */

.testimonial_wrapper {
  position: relative;
}
.testimonial_wrapper .fertilizer_title {
  color: var(--black);
  margin-bottom: 1.875rem;
}
.author_img--wrapper {
  max-width: 81px;
  width: 100%;
}
.testimonial_author--slider {
  display: flex;
  align-items: center;
}
.testimonial_action--wrapper {
    height: 442px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; 
  }
  
  .testimonial_action--wrapper::-webkit-scrollbar {
    display: none; 
  }
.author_details--wrapper {
  padding-left: 10px;
}
.author_name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: var(--fertilizer-primary-color);
  display: block;
  padding-bottom: 2px;
}
.author_single--details {
  margin-top: 30px;
}
.author_details--wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 134%;
  color: var(--black);
  padding-top: 5px;
}
.author_text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 184%;
  color: var(--black);
  display: block;
  padding-left: 65px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}
.author_text::before {
  content: '';
  position: absolute;
  background: url('../../../public/images/brown-quote.svg') no-repeat center;
  background-size: cover;
  width: 52px;
  height: 30px;
  left: 10px;
}
.author_single--details .author_name,
.author_single--details .author_rating {
  position: relative;
  padding-left: 65px;
}
.author_single--details .author_name::before {
  content: '';
  position: absolute;
  width: 59px;
  height: 2px;
  background: var(--fertilizer-primary-color);
  top: 40%;
  left: 0%;
}
.author_single--img {
  text-align: center;
  z-index: 50;
}
.author_slider {
  background-color: #F0E7DE;
}
.author_stars:hover{
  text-decoration: none;
}
@media ( min-width: 768px ) {
  .testimonial_wrapper {
    padding-bottom: 106px;
  }
  .testimonial_wrapper .fertilizer_title {
    text-align: left;
  }
}
@media ( min-width: 1200px ) {
  .testimonial_wrapper {
    padding-top: 50px;
    padding-bottom: 0px;
    overflow: hidden;
  }
  .author_details--slider {
    display: flex;
    align-items: center;
  }
  .author_single--img {
    max-width: 298px;
    width: 100%;
  }
  .author_single--img img {
    max-width: 298px;
  }
  .author_single--details {
    position: relative;
    margin-top: 0;
    padding-left: 32px;
  }
  .author_details--slider {
    padding: 76px 0px 186px;
  }
  .author_single--details::before {
    content: '';
    position: absolute;
    background: url('../../../public/images/testimonial-border.svg') no-repeat center;
    width: 100%;
    height: 489px;
    top: -10rem;
    left: -19rem;
  }
  .author_text {
    padding-right: 3rem;
  }
}
@media ( min-width: 1200px ) and ( max-width: 1536px ) {
  .testimonial_wrapper .fertilizer_title {
    font-size: 53px;
  }
}
@media ( min-width: 1680px ) {
  .testimonial_wrapper .row {
    align-items: center;
  }
  .author_details--slider {
    padding: 83px 0px 70px;
  }
  .testimonial_details--wrapper {
    padding-left: 3.5rem;
  }
  .author_text {
    padding-right: 10rem;
  }
  .testimonial_wrapper {
    padding-bottom: 100px;
  }
}
/* -- team -- */

.our_team--wrapper {
  /* background: url('/images/team-bg.png') no-repeat center; */
  background-size: cover;
  width: 100%;
  display: block;
  position: relative;
  z-index: 100;
  padding: 6.9375rem 0rem 4.375rem;
}
.our_team--wrapper .fertilizer_title {
  color: var(--white);
  padding-bottom: 2.5625rem;
}
.team_cols {
  text-align: center;
  margin-bottom: 1.875rem;
}
.team_members--wrapper {
  position: relative;
}
.team_members--wrapper > img,
.members_details--wrapper  {
  text-align: center;
}
.members_details--wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.our_team_second_slide {
  display: none;
}

.members_details--wrapper .members_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 165.4%;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding-bottom: 1rem;
}
.members_details--wrapper .members_info {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 165.4%;
  color: var(--white);
  display: block;
}
.members_social_media--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.members_social_media--wrapper .follow_us {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 175.4%;
  color: #9A9D8F;
  display: block;
  padding-right: 2px;
}
.members_social--icons {
  display: block;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
}
.members_social--icons:hover {
  transform: scale(1.3);
}
@media ( min-width: 768px ) {
  .our_team--wrapper .row {
    align-items: flex-end;
  }
  .our_team--wrapper .fertilizer_title {
    padding-bottom: 4.3125rem;
  }
  .our_team_second_slide {
    display: block;
  }
  .our_team_slider {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media ( min-width: 1200px ) {
  .members_details--wrapper .members_info {
    padding:  0rem 4.5rem;
  }
}
@media ( min-width: 1680px ) {
  .members_details--wrapper .members_info {
    padding:  0rem 7.5rem;
  }
}

/* -- blog -- */

.our_blog--wrapper {
  position: relative;
  background: #E5E5E5;
}
.our_blog--wrapper .container {
  position: relative;
  z-index: 1;
  padding-top: 5.0625rem;
  padding-bottom: 12rem;
}
.our_blog--wrapper .fertilizer_title {
  padding-bottom: 2.5625rem;
}
.blog_details--wrapper {
  position: relative;
  width: 100%;
  z-index: 20;
}
.blog_overlay--wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.blog_date--wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 166%;
  color: var(--fertilizer-primary-color);
  display: block;
}
.blog_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 121%;
  color: #14100E;
  display: block;
  padding: 8px 0px 11px;
}
.blog_details--wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 166%;
  color: #14100E;
}
.blog_overlay--wrapper,
.blog_schedule--wrapper {
  padding: 2rem 1.3125rem 1.6875rem;
}
.blog_overlay--wrapper .blog_title {
  color: var(--white);
}
.blog_overlay--wrapper p {
  color: var(--white);
}
.blog_read--more {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 166%;
  color: var(--white);
  text-align: center;
  background: var(--fertilizer-primary-color);
  border-radius: 24.5px;
  display: block;
  outline: none;
  box-shadow: none;
  padding: 13px;
  max-width: 118px;
  width: 100%;
  margin-top: 1.4375rem;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}
.blog_read--more:hover {
  background: #14100E;
  color: var(--white);
}
.blog_schedule--wrapper {
  background: #F6F1EC;
  width: 100%;
  position: relative;
  z-index: 999;
}
.blog_effect {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 0;
}
.blog_details--wrapper img {
  width: 100%;
}
.our_blog--wrapper .container::before,
.our_blog--wrapper .container::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #BBBBBB;
  top: 0rem;
}
.our_blog--wrapper .container::before {
  left: 0.9375rem;
}
.our_blog--wrapper .container::after {
  right: 0.9375rem;
}
@media ( min-width: 576px ) {
  .blog_overlay--wrapper {
    padding: 2rem 2.3125rem 0rem;
  }
}
@media ( min-width: 768px ) {
  .our_blog--wrapper .fertilizer_title {
    padding-bottom: 3.5625rem;
  }
  .blog_img--wrapper {
    display: block;
  }
}
@media ( min-width: 992px ) {
  .blog_cols1 {
    padding-right: 0;
  }
  .blog_cols2 {
    padding-left: 0;
  }
  .blog_cols2 .blog_details--wrapper,
  .blog_cols3 .blog_details--wrapper {
    display: flex;
    height: 100%;
  }
  .blog_img--wrapper img {
    height: 43vh;
  }
  .blog_cols2 .blog_details--wrapper img {
    width: 438px;
  }
}
@media ( min-width: 1200px ) {
  .our_blog--wrapper .container {
    padding-bottom: 15rem;
  }
  .blog_cols2 .blog_details--wrapper,
  .blog_cols3 .blog_details--wrapper {
    display: block;
    height: 100%;
  }
  .blog_img--wrapper img {
    height: auto;
  }
  .blog_cols1,
  .blog_cols3  {
    height: 541.81px;
  }
  .blog_cols2 {
    padding-right: 0;
  }
  .blog_cols3 {
    padding-left: 0;
  }
  .blog_cols2 .blog_schedule--wrapper {
    padding: 0.9375rem 0.9375rem 1.6875rem 0.9375rem;
    z-index: 1000;
  }
  .blog_cols3 .blog_schedule--wrapper {
    padding: 1.1875rem 2.375rem 2.2rem 3.5625rem;
  }
  .blog_details--wrapper,
  .blog_cols1 .blog_details--wrapper img,
  .blog_cols3 .blog_details--wrapper img {
    height: 100%;
  }
  .blog_cols2::before,
  .blog_cols2::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 975px;
    background: #BBBBBB;
    top: -13rem;
    z-index: -1;
  }
  .blog_cols2::before {
    left: 0;
  }
  .blog_cols2::after {
    right: 0;
  }
  .blog_cols2 .blog_details--wrapper img {
    width: 100%;
  }
  .blog_cols3 .blog_img--wrapper {
    height: 50.9%;
  }
  .blog_effect {
    top: 5rem;
  }
}
@media ( min-width: 1680px ) {
  .our_blog--wrapper {
    margin-bottom: -2.5rem;
  }
  .blog_cols3 .blog_schedule--wrapper {
    height: 54.3%;
  }
  .blog_cols3 .blog_img--wrapper {
    height: 45.7%;
  }
  .blog_cols1,
  .blog_cols3  {
    height: 605.23px;
  }
  .blog_cols2::before, .blog_cols2::after {
    height: 1040px;
  }
}
@media ( min-width: 1880px ) {
  .blog_effect {
    right: 1rem;
  }
}

/* -- container-size -- */

@media ( min-width: 1200px ) {
  .fertilizer_banner--wrapper .container,
  .fertilizer_type--wrapper .container,
  .our_blog--wrapper .container,
  .our_team--wrapper .container,
  .shop_wrapper .container,
  .about_fertilizer--wrapper .container,
  .testimonial_wrapper .container {
    max-width: 1262px;
  }
}

@media ( min-width: 1680px ) {
  .fertilizer_banner--wrapper .container,
  .fertilizer_type--wrapper .container,
  .our_blog--wrapper .container,
  .our_team--wrapper .container,
  .shop_wrapper .container,
  .about_fertilizer--wrapper .container,
  .testimonial_wrapper .container {
    max-width: 1562px;
  }
  .fertilizers_counter--wrapper .container {
    max-width: 1287px;
  }
}

/**
 * Swiper 6.1.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://swiperjs.com
 *
 * Copyright 2014-2020 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: August 17, 2020
 */
 @font-face {
    font-family: swiper-icons;
    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
    transform: translate3d(0px,0,0)
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height
}

.swiper-container-3d {
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}

.swiper-container-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next:after,.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after {
    content: 'prev'
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after {
    content: 'next'
}

.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #ffffff
}

.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black {
    --swiper-navigation-color: #000000
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33)
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color,var(--swiper-theme-color))
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px,-50%,0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: .2s transform,.2s top
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform,.2s left
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform,.2s right
}

.swiper-pagination-progressbar {
    background: rgba(0,0,0,.25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-white {
    --swiper-pagination-color: #ffffff
}

.swiper-pagination-black {
    --swiper-pagination-color: #000000
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-flip {
    overflow: visible
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media (max-width:575px) {
  .testimonial_sideeffect--wrapper{
    display: none;
  }
}